@using AcquireEpiCMS.Web.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acquire EPiServer</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        @{ Html.RenderTwoLevelNavigation(); }
        @RenderBody()
    </div>
    

    <script src="~/Scripts/jquery-3.0.0.slim.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>